<div class="p-5 flex flex-col gap-5">
    <h2 class="text-2xl text-cyan-600 font-bold uppercase">My Story</h2>
    <div class="text-gray-700 line text-lg/8 flex flex-col gap-4">
        <p>
            Hello, I'm a Android and Backend Developer from Kurnool, Andhra Pradesh. I hold a Bachelors Degree at G
            Pulla
            Reddy Engineering College.
        </p>
        <p>
            I like solving real world problems using modern technology, especially mobile apps.
        </p>
    </div>
    <button type="button"
        class="bg-cyan-500 p-4 rounded-md text-white my-5 uppercase font-bold block flex justify-center gap-4">
        <span><img src="icons/ic_download.png" alt="downloadIcons"></span>download resume</button>
</div>