<div class="p-5">
    <h2 class="text-2xl text-cyan-500 font-bold uppercase">Personal Information</h2>
    <table class="my-5 text-lg">
        <tr>
            <td class="py-4">Name</td>
            <td class="px-5">Patan Sajid Ali Khan</td>
        </tr>
        <tr>
            <td class="py-4">Age</td>
            <td class="px-5">22 years</td>
        </tr>
        <tr>
            <td class="py-4">Phone</td>
            <td class="px-5">8019340863</td>
        </tr>
        <tr>
            <td class="py-4">Address</td>
            <td class="px-5">Kurnool, Andhra Pradesh</td>
        </tr>
    </table>
    <div class="flex flex-row gap-5">
        <div><img src="icons/facebook.png" class="w-[42px] object-contain p-1 rounded-full shadow-md" alt=""></div>
        <div><img src="icons/twitter.png" class="w-[42px] object-cover p-1 rounded-full shadow-md" alt=""></div>
    </div>
</div>