<div class="p-5 bg-slate-700">
    <h1 class="text-6xl uppercase my-4 text-white text-center font-bold">
        Hi! I'm <span class="text-cyan-500">Sajid</span>
    </h1>
    <p class="text-center text-sm uppercase text-white">Software Engineer from Kurnool, Andhra Pradesh</p>
    <nav class="flex justify-center gap-4 text-white my-8">
        <a class="px-6 py-3 bg-cyan-500 rounded-lg hover:bg-cyan-600" routerLink="/mystory">Story</a>
        <a class="px-6 py-3 bg-cyan-500 rounded-lg hover:bg-cyan-600" routerLink="/personal-info">Personal Info</a>
        <a class="px-6 py-3 bg-cyan-500 rounded-lg hover:bg-cyan-600" routerLink="/mygoals">Goals</a>
    </nav>
</div>
